*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #0F1935;
}


.main-card__detail{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/detail_main.png) no-repeat;
    height: 404px;
    max-width: 1283px;
    margin: 0 auto;
    margin-top: 73px;

    
}

.main-card__detail h1{
    font-family: 'Varela';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 140px;
text-align: center;
letter-spacing: 10.56px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 118px;
}

header{
    justify-content: space-between;
    display: flex;
    margin-left: 85px;
    margin-right: 82px;
    margin-top: 20px;
    margin-bottom: 22px;
}

.nav{

    display: flex;
}

.nav a{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #313131;
    text-decoration: none;
}

.home{
    margin-right: 39px;


}

.sign{
    width: 86px;
    height: 27px;
    margin-left: 40px;
    margin-right: 28px;
    background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);


}

.sign p{
    color: #FFFFFF;  
    text-align: center;    
    letter-spacing: 0.5px;
}


.forms{
    max-width: 406px;
    margin: 0 auto;
    padding-top: 283px;
}


.stars{
    display: flex;
    margin-left: 287px;

}
.stars img{
    margin-right: 100px;
}

.main-card__detail p{
    margin-top: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-align: center;
}

.chapter{
    max-width: 1252px;
    margin: 0 auto;
    margin-top: 60px;
}

.chapter img{
    margin-top: 5px;
    margin-bottom: 25px;
}

.chapter p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1.56px;
    color: #000000;
    margin-bottom: 35px;
}

.next_chapter{
    
    display: flex;
    justify-content: end;

}

.next_chapter img{
    height: 30px;
    width: 30px;
    margin-right: 13px;
    margin-top: 18px;
}

.next_chapter p{
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 3.56px;
    color: #000000;
}

.topic-short{
    max-width: 1272px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 18px;

}

.topic-short h1{
    margin-bottom: -10px;
}

.topic-short-line{
    margin-top: 27px;
    display: flex;
}

.topic-short-line h3{
    font-family: 'Poppins';
    font-size: 17.3481px;
    line-height: 25px;
    color: #020202;
}

.topic-short-line p{
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #020202;
    opacity: 0.5;
}

.topic-short1{
    display: flex;
    max-width: 340px;
    margin-right: 50px;
}

.topic-short1 img{
    margin-right: 17px;
}

.topic-short2{
    display: flex;
    max-width: 340px;
    margin-right: 33px;
}

.topic-short2 img{
    margin-right: 17px;
}

.topic-short3{
    display: flex;
    max-width: 340px;
}

.topic-short3 img{
    margin-right: 17px;
}
.comments{
    max-width: 1272px;
    margin: 0 auto;
    margin-top: 60px;
}
.comments img{

    margin-bottom: 286px;
}

.topic{
    display: flex;
    justify-content: space-between;

}